main {
	min-height: 673px;
	/* !important で優先 */
	height: auto !important;
	height: 673px;
	width: 52%;
	background-color: #dedaef;
	position: relative;
	margin: 0 auto;
	border-left: 1px dotted #6a5acd;
	border-right: 1px dotted #6a5acd;
}
div.top_space {
	display: flex;
	width: 93%;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
div.top_space a.toplink_top {
	text-align: center;
	height: 25px;
	margin-right: 20px;
	flex-basis: 160px;
	color: #726da8;
	border-bottom: 3px double #726da8;
	align-self: center;
}
div.toplink_area {
	height: 40px;
}
a.toplink_bottom {
	width: 120px;
	margin-left: 20px;
	color: #726da8;
	border-bottom: 3px double #726da8;
	align-self: center;
}
div.top_space a.toplink_top:hover,
a.toplink_bottom:hover {
	outline: none;
	color: #ff8c00;
	border-color: #ff8c00;
}
form.pulldown {
	flex-basis: 170px;
	height: 30px;
	margin-right: 170px;
	align-self: center;
}
form.pulldown select {
	width: 100%;
	height: 100%;
	border: 1px solid #726da8;
	color: #726da8;
}
form.pulldown select:focus {
	outline: none;
	border-color: #ff8c00;
}
form.search {
	display: inline-flex;
	flex-basis: 250px;
	height: 30px;
	align-self: center;
}
.input_search {
	display: inline-flex;
	align-self: center;
	padding-left: 5px;
	width: 170px;
	height: 30px;
	border: 1px solid #726da8;
	border-radius: 3px;
}
.search_btn {
	margin-left: 10px;
	margin-top: 1px;
	height: 90%;
	width: 50px;
	background-color: #d4ceef;
	border: 1px solid #7a7a7a;
	color: #726da8;
	border-radius: 3px;
}
a.clear_link {
	display: inline-flex;
	align-self: center;
	flex-basis: 42px;
	height: 22px;
	margin-bottom: 1px;
	margin-right: 50px;
	padding-top: 3px;
	padding-left: 4px;
	background-color: #34d0ff;
	border: 1px solid #0077ff;
	color: #ffffff;
	border-radius: 3px;
	font-size: 12px;
}
.msg_none {
	margin-top: 150px;
	margin-bottom: 150px;
	color: #726da8;
	text-align: center;
}
/* スレッド一覧 */
div.thread_link {
	background-color: #d4ceef;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 8%;
	margin-right: 8%;
	padding-top: 15px;
	padding-left: 15px;
	height: 120px;
	border: 1px solid #726da8;
	border-radius: 8px;
}
div.thread_link:hover {
	border-color: #ff8c00;
	box-shadow: 0 0 2px #ff8c00;
}
div.thread_link a {
	color: #726da8;
	display: block;
	width: 100%;
	height: 100%;
}
div.bottom_row input.recover_btn,
div.bottom_row input.ban_btn {
	display: block;
	margin: 5px auto 0 auto;
	color: #6a5acd;
	background-color: #ffffff;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid #6a5acd;
}
div.bottom_row input.recover_btn:hover {
	color: #59bb56;
	border-color: #59bb56;
}
div.bottom_row input.ban_btn:hover {
	color: #f87070;
	border-color: #f87070;
}
/* スレッド一覧 */
/* 区切り線 */
hr {
	margin: 0 auto;
	width: 90%;
	border-width: 1px 0 0 0;
	border-color: #726da8;
	border-style: dotted;
}
hr.bottom_line {
	margin-bottom: 55px;
}
/* 区切り線 */
a.page_link {
	padding: 3px;
	color: #726da8;
}
.page_links {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.page_links strong {
	font-weight: normal;
	padding: 3px;
	color: #ff8c00;
}
