main {
	position: relative;
	background-color: #dedaef;
	margin: 0 auto;
	width: 52%;
	height: 673px;
	overflow: hidden;
	border-left: 1px dotted #6a5acd;
	border-right: 1px dotted #6a5acd;
}
h2.main-title {
	margin-top: 150px;
	text-align: center;
	color: #726da8;
}
ul {
	padding-top: 50px;
	width: 30%;
	margin: 0 auto;
	list-style: none;
	font-size: 24px;
}
li {
	height: 40px;
	padding: 30px 0 5px 5px;
	border-bottom: 1px solid #726da8;
}
li a {
	padding: 3px 0 0 10px;
	display: block;
	color: #ff8c00;
}
li a:hover {
	transition: 0.2s;
	background-color: #ff8c00;
	color: #ffffff;
	border-radius: 3px;
}
