main {
	position: relative;
	background-color: #dedaef;
	margin: 0 auto;
	width: 52%;
	height: 673px;
	overflow: hidden;
	border-left: 1px dotted #6a5acd;
	border-right: 1px dotted #6a5acd;
}
h2.main_title {
	text-align: center;
	margin-top: 35px;
	color: #726da8;
	font-size: 22px;
}
a.my_link {
	position: absolute;
	top: 5%;
	left: 10%;
	height: 25px;
	width: 146px;
	color: #726da8;
	border-bottom: 3px double #726da8;
}
a.my_link:hover {
	color: #f87070;
	border-bottom: 3px double #f87070;
}
table,
th,
td {
	border-collapse: collapse;
}
form {
	margin: 0 auto;
	margin-top: 35px;
	height: 80%;
	width: 80%;
}
table {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	border-top: 3px solid #726da8;
	border-bottom: 3px solid #726da8;
}
tr {
	border-top: 1px solid #6a5acd;
	border-bottom: 1px solid #6a5acd;
}
th {
	text-align: left;
	padding-left: 30px;
	width: 22%;
	border-right: 1px solid #6a5acd;
	color: #726da8;
}
td:not(.change_link_td) {
	padding-left: 30px;
}
tr:nth-child(odd) {
	background-color: #b3acff;
}
tr:nth-child(even) {
	background-color: #dedaef;
}
input.change_button {
	float: right;
	width: 60px;
	height: 25px;
	display: block;
	margin-right: 20px;
	text-align: center;
	background-color: #ff8c00;
	border: 1px solid #be6902;
	border-radius: 3px;
	color: #ffffff;
	font-size: 13px;
}
input.change_button:hover {
	color: #cecece;
	box-shadow: 0 0 3px #ff8c00;
}
a.cancel_link {
	display: block;
	width: 80px;
	height: 22px;
	margin-right: 90px;
	color: #ffffff;
	background-color: #726da8;
	border-radius: 3px;
	padding-top: 3px;
	text-align: center;
	font-size: 13px;
}
a.cancel_link:hover {
	color: #cecece;
	box-shadow: 0 0 3px #726da8;
}
input[type="text"][disabled] {
	background-color: transparent;
	border-style: none;
	color: #000000;
	font-size: 16px;
}
input[type="text"]:focus {
	outline: none;
	border-radius: 5px;
	border: 1px solid #ff8c00;
	box-shadow: 0 0 3px #ff8c00;
}
input[type="text"]:not([disabled]) {
	width: 330px;
	height: 30px;
	border: 1px solid #9c96e4;
	border-radius: 5px;
	padding-left: 5px;
	color: #000000;
	font-size: 16px;
}
span.security_comment {
	color: red;
}
/* エラーメッセージ */
div.error_nickname {
	position: absolute;
	left: 310px;
	color: red;
}
div.error_mail {
	position: absolute;
	left: 310px;
	color: red;
}
