/* 全タグ */
* {
	margin: 0;
	padding: 0;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
		Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
/* html body */
html,
body {
	width: 100%;
}
body {
	background-color: #d4ceef;
	max-width: 1920px;
}
/* main */
main {
	position: relative;
	min-height: 673px;
	/* !important で優先 */
	height: auto !important;
	height: 673px;
	width: 1024px;
	min-width: 1024px;
	background-color: #dedaef;
	margin: 0 auto;
	border-left: 1px dotted #6a5acd;
	border-right: 1px dotted #6a5acd;
}
/* ヘッダー要素 */
header {
	height: 100px;
	width: 100%;
	min-width: 1024px;
	padding: 15px 0;
	background-color: #726da8;
	color: #f5f5f5;
	border-bottom: 2px dotted #000000;
}
/* アンカータグ */
a {
	text-decoration: none;
	color: #ffffff;
}
/* form input text,password のデフォルトデザイン */
input[type="text"],
input[type="password"] {
	padding-left: 5px;
	width: 345px;
	height: 30px;
	border: 1px solid #6a5acd;
	border-radius: 5px;
}
input[type="text"]:focus,
input[type="password"]:focus {
	outline: none;
	border-color: #ff8c00;
}

/* タイトル(イグナイト) */
header .header_title {
	text-align: center;
	font-size: 25px;
}
/* サブタイトル(完全会員制掲示板) */
header .header_subtitle {
	display: block;
	text-align: center;
	font-weight: normal;
	letter-spacing: 5px;
	padding-bottom: 10px;
}
/* ログイン済の右上リンク（〇〇さん） */
header .header_mypage {
	position: absolute;
	top: 30px;
	right: 0px;
	margin-right: 50px;
	font-weight: normal;
	width: 200px;
	text-align: center;
}
header .header_mypage:hover {
	color: #c0b6ef;
	transition: all 0.1s;
}
header .header_mypage span {
	padding-left: 5px;
}
/* ログイン済の右上リンク（管理者：～） */
header .header_admin {
	position: absolute;
	text-align: right;
	top: 30px;
	right: 0px;
	margin-right: 50px;
	padding: 0;
	width: 300px;
	font-weight: normal;
}
header .parent_logout_link {
	position: absolute;
	top: 60px;
	right: 0px;
	margin-right: 50px;
	font-weight: normal;
	padding: 0;
}
header .logout_link {
	border-bottom: 1px solid #c0b6ef;
}
header .logout_link:hover {
	color: #c0b6ef;
	border-bottom: 1px solid #ff0000;
}
/* ヘッダー右上のログインリンク */
header div.header_login_btn {
	position: absolute;
	top: 30px;
	right: 0px;
	margin-right: 50px;
	padding: 2px 0;
	display: block;
	width: 100px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #ffffff;
	background-color: #6a5acd;
}
header div.header_login_btn a {
	display: block;
}
header div.header_login_btn:hover,
header div.header_login_btn:hover a {
	border-color: #ff8c00;
	color: #d4d4d4;
}
@media screen and (max-width: 1023px) {
	header div.header_login_btn {
		display: none;
	}
	header .header_admin {
		display: none;
	}
	header .parent_logout_link {
		display: none;
	}
	header .header_mypage {
		display: none;
	}
}
@media screen and (min-width: 1024px) {
	header div.header_login_btn {
		display: block;
	}
	header .header_admin {
		display: block;
	}
	header .parent_logout_link {
		display: block;
	}
	header .header_mypage {
		display: block;
	}
}
