table {
	width: 600px;
	height: 500px;
	padding-top: 170px;
	margin: 0 auto;
}
th {
	width: 240px;
	color: #726da8;
	font-size: 24px;
}
tr.login_title_row th {
	text-align: left;
}
tr.login_mailaddress_error_row,
tr.login_password_error_row {
	height: 25px;
}
tr.login_mailaddress_error_row td,
tr.login_password_error_row td {
	color: red;
}
tr.login_mailaddress_row th,
tr.login_password_row th {
	padding-top: 60px;
	font-weight: normal;
	text-align: left;
}
tr.login_mailaddress_row td,
tr.login_password_row td {
	padding-top: 60px;
	text-align: right;
}
tr.login_button_row input[type="submit"] {
	margin-top: 60px;
	text-decoration: none;
	width: 100px;
	height: 30px;
	font-size: 17px;
	color: #ffffff;
	background-color: #726da8;
	border: 0px;
	border-radius: 3px;
	letter-spacing: 2px;
	text-indent: 2px;
}
tr.login_button_row input[type="submit"]:hover {
	color: #dadada;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ff8c00;
	box-shadow: 0 0 2px #ff8c00;
}
p.regist_link {
	color: #726da8;
	position: absolute;
	top: 600px;
	left: 600px;
	font-size: 20px;
}
p.regist_link a {
	color: #ff8c00;
}
p.regist_link a:hover {
	text-decoration-line: underline;
}
td input[type="checkbox"].js-password-toggle {
	display: none;
}
tr.login_password_row td {
	position: relative;
}
tr.login_password_row td div.btn i.fa-eye,
tr.login_password_row td div.btn i.fa-eye-slash {
	position: absolute;
	bottom: 10px;
	color: #000000;
	content: "\f039";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}
tr.login_password_row td div.btn i.fa-eye {
	right: 10px;
}
tr.login_password_row td div.btn i.fa-eye-slash {
	right: 9px;
}
