h2.form_title {
	padding-top: 180px;
	text-align: center;
	color: #726da8;
}
h3.password_conf {
	font-size: 24px;
	position: absolute;
	top: 300px;
	left: 215px;
	color: #726da8;
	font-weight: normal;
}
h3.password_conf input,
h3.password_new input {
	padding-left: 5px;
	position: absolute;
	left: 200px;
	width: 345px;
	height: 30px;
	border: 1px solid #9c96e4;
	border-radius: 5px;
}
h3.password_new {
	font-size: 24px;
	position: absolute;
	top: 380px;
	left: 215px;
	color: #726da8;
	font-weight: normal;
}
h3.password_conf input[type="password"]:focus,
h3.password_new input[type="password"]:focus {
	outline: none;
	border-radius: 5px;
	border: 1px solid #ff8c00;
	box-shadow: 0 0 2px #ff8c00;
}
input.change_button {
	position: absolute;
	text-decoration: none;
	top: 480px;
	left: 390px;
	width: 110px;
	height: 30px;
	font-size: 17px;
	color: #ffffff;
	background-color: #ff8c00;
	border: 0px;
	border-radius: 3px;
	letter-spacing: 2px;
	text-indent: 2px;
}
input.change_button:hover {
	color: #dadada;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ff8c00;
	box-shadow: 0 0 2px #ff8c00;
}
a.cancel_link {
	position: absolute;
	text-decoration: none;
	top: 480px;
	left: 510px;
	width: 110px;
	height: 27px;
	padding-top: 3px;
	font-size: 17px;
	font-weight: normal;
	color: #ffffff;
	background-color: #726da8;
	border: 0px;
	border-radius: 3px;
	text-align: center;
}
a.cancel_link:hover {
	color: #dadada;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ff8c00;
	box-shadow: 0 0 2px #ff8c00;
}
/* エラーメッセージ */
div.error_conf,
div.error_new {
	position: absolute;
	left: 420px;
	color: red;
}
div.error_conf {
	top: 335px;
}
div.error_new {
	top: 415px;
}

div.btn-old input[type="checkbox"],
div.btn-new input[type="checkbox"] {
	display: none;
}
div.btn-old i.fa-eye,
div.btn-old i.fa-eye-slash {
	position: absolute;
	top: 308px;
	color: #000000;
	content: "\f039";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}
div.btn-new i.fa-eye,
div.btn-new i.fa-eye-slash {
	position: absolute;
	top: 388px;
	color: #000000;
	content: "\f039";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}
div.btn-old i.fa-eye,
div.btn-new i.fa-eye {
	left: 740px;
}
div.btn-old i.fa-eye-slash,
div.btn-new i.fa-eye-slash {
	left: 739px;
}
