h2.catchcopy {
	position: absolute;
	left: 50%;
	display: inline-block;
	width: 600px;
	height: 50px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%); /*位置調整*/
	padding-top: 20px;
	color: #726da8;
	font-weight: 700;
	letter-spacing: 3px;
}
h2.catchcopy:before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 5px; /*線の上下位置*/
	display: inline-block;
	width: 600px; /*線の長さ*/
	height: 3px; /*線の太さ*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%); /*位置調整*/
	background-color: #ff8c00; /*線の色*/
	border-radius: 2px; /*線の丸み*/
}
table {
	width: 600px;
	height: 500px;
	padding-top: 170px;
	margin: 0 auto;
}
th {
	width: 240px;
	color: #726da8;
	font-size: 24px;
}
tr.regist_title_row th {
	text-align: left;
}
tr.regist_mailaddress_error_row,
tr.regist_password_error_row {
	height: 25px;
}
tr.regist_mailaddress_error_row td,
tr.regist_password_error_row td {
	color: red;
}
tr.regist_mailaddress_row th,
tr.regist_password_row th {
	padding-top: 60px;
	font-weight: normal;
	text-align: left;
}
tr.regist_mailaddress_row td,
tr.regist_password_row td {
	padding-top: 60px;
	text-align: right;
}
tr.regist_button_row input[type="submit"] {
	margin-top: 60px;
	text-decoration: none;
	width: 100px;
	height: 30px;
	font-size: 17px;
	color: #ffffff;
	background-color: #726da8;
	border: 0px;
	border-radius: 3px;
	letter-spacing: 2px;
	text-indent: 2px;
}
tr.regist_button_row input[type="submit"]:hover {
	color: #dadada;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ff8c00;
	box-shadow: 0 0 2px #ff8c00;
}
p.login_link {
	color: #726da8;
	position: absolute;
	top: 600px;
	left: 600px;
	font-size: 20px;
}
p.login_link a {
	color: #ff8c00;
}
p.login_link a:hover {
	text-decoration-line: underline;
}
td input[type="checkbox"].js-password-toggle {
	display: none;
}
tr.regist_password_row td {
	position: relative;
}
tr.regist_password_row td div.btn i.fa-eye,
tr.regist_password_row td div.btn i.fa-eye-slash {
	position: absolute;
	bottom: 10px;
	color: #000000;
	content: "\f039";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}
tr.regist_password_row td div.btn i.fa-eye {
	right: 10px;
}
tr.regist_password_row td div.btn i.fa-eye-slash {
	right: 9px;
}
