main {
	min-height: 673px;
	/* !important で優先 */
	height: auto !important;
	height: 673px;
	width: 52%;
	background-color: #dedaef;
	position: relative;
	margin: 0 auto;
	border-left: 1px dotted #6a5acd;
	border-right: 1px dotted #6a5acd;
}
h2.main_title {
	padding-top: 60px;
	color: #726da8;
	text-align: center;
}
a.toplink_top,
a.toplink_bottom {
	display: block;
	margin-left: 20px;
	text-align: center;
	height: 25px;
	width: 125px;
	color: #726da8;
	border-bottom: 3px double #726da8;
}
a.toplink_top {
	float: left;
	margin-top: 20px;
}
div.bottom_link {
	height: 50px;
}
a.toplink_top:hover,
a.toplink_bottom:hover {
	color: #f87070;
	border-bottom: 3px double #f87070;
}
div.users_body {
	margin: 50px auto 0px auto;
	width: 80%;
}
table,
tr,
th,
td {
	border: 1px solid #6a5acd;
	border-collapse: collapse;
	color: #6a5acd;
}
table.user_content {
	height: 300px;
	margin: 30px 0;
	width: 100%;
	background-color: #d4ceef;
	border: 3px solid #6a5acd;
}
table.user_content tr {
	height: 30px;
}
th {
	background-color: #bbafee;
	width: 170px;
}
td {
	padding-left: 10px;
}
td.right_td {
	width: 170px;
}
table.user_content th {
	text-align: left;
	padding-left: 10px;
}
input.ban_btn,
input.recover_btn {
	color: #6a5acd;
	display: inline-block;
	background-color: #ffffff;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid #6a5acd;
}
input.ban_btn:hover {
	color: #f87070;
	border-color: #f87070;
}
input.recover_btn:hover {
	color: #59bb56;
	border-color: #59bb56;
}
tr.row_link {
	text-align: center;
}
a.page_link {
	padding: 3px;
	color: #726da8;
}
.page_links {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}
.page_links strong {
	font-weight: normal;
	padding: 3px;
	color: #ff8c00;
}
